# Introduction

#### Objective & Scope
* Share Insights and Findings
* Collect, Clean and Analyze the 2023 Spotify Dataset
* Curate and Develop a Web Application Based on the Dataset
* Deploy the Application to Render

#### Initial Questions:
* Can we identify variables of interest that can be used to predict whether or not a song will make it the top 50, top 100, top 500? 
* Are their commmonalities between artists and their "music magic" (i.e. energy and liveness) despite the year the track was released that keeps the track relevant?
* According to the dataset, is there an apparent formula to making a good, catchy song?

In [ ]:
#Libraries are imported here
import pandas as pd
import streamlit as st
import numpy as np

In [3]:
#The data is loaded here
df = pd.read_csv("spotify-2023.csv", encoding='latin1')

In [4]:
df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [5]:
#Before dropping nan values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [6]:
df.isnull().sum()

track_name               0
artist(s)_name           0
artist_count             0
released_year            0
released_month           0
released_day             0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

In [10]:
df = df.dropna(subset=['key'])
df.dropna(inplace=True)

In [14]:
#After dropping nan values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            817 non-null    object
 1   artist(s)_name        817 non-null    object
 2   artist_count          817 non-null    int64
 3   released_year         817 non-null    int64
 4   released_month        817 non-null    int64
 5   released_day          817 non-null    int64
 6   in_spotify_playlists  817 non-null    int64
 7   in_spotify_charts     817 non-null    int64
 8   streams               817 non-null    object
 9   in_apple_playlists    817 non-null    int64
 10  in_apple_charts       817 non-null    int64
 11  in_deezer_playlists   817 non-null    object
 12  in_deezer_charts      817 non-null    int64
 13  in_shazam_charts      817 non-null    object
 14  bpm                   817 non-null    int64
 15  key                   817 non-null    object
 16  mode                  817 non-null    object
 17  danceability_%        817 non-null    int64
 18  valence_%             817 non-null    int64
 19  energy_%              817 non-null    int64
 20  acousticness_%        817 non-null    int64
 21  instrumentalness_%    817 non-null    int64
 22  liveness_%            817 non-null    int64
 23  speechiness_%         817 non-null    int64
dtypes: int64(17), object(7)
memory usage: 159.6+ KB

In [15]:
df.duplicated().sum()

0

In [16]:
df['key'].unique()

array(['B', 'C#', 'F', 'A', 'D', 'F#', 'G#', 'G', 'E', 'A#', 'D#'],
      dtype=object)

In [22]:
df['released_year'].sort_values().unique()

array([1930, 1942, 1946, 1950, 1957, 1958, 1959, 1963, 1970, 1971, 1973,
       1975, 1979, 1982, 1983, 1984, 1985, 1986, 1987, 1991, 1992, 1995,
       1996, 1997, 1998, 1999, 2000, 2002, 2003, 2004, 2005, 2008, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022, 2023], dtype=int64)

In [7]:
odd_value = ['�']


odd_track = df['track_name'].isin(odd_value)
odd_artist = df['artist(s)_name'].isin(odd_value)